td,th,table,tr{
    border: 2px solid black;
    border-collapse: collapse;
}
.main{
    margin: 75px;
}
.main1{
    margin-left: 35%;
    text-align: center;
    border: 2px solid darkgrey;
    display: inline-block;
    padding: 5px;
}
button{
    margin: 5px;
    padding-top:5px;
    border-radius: 2px;
    height: 40px;

}
button:hover{
    background-color: darkgrey;
}
